# The environmental variables are picked up by Pydantic, 
# do not expect to see dotenv import 

AZURE_AI_FOUNDRY_PROJECT_ENDPOINT=

# Optionally
#AZURE_OPENAI_ENDPOINT="https://<your-azure-ai-service>.openai.azure.com"
#AZURE_OPENAI_API_VERSION="2024-12-01-preview"

AZURE_AI_SEARCH_ENDPOINT="https://your-search-service>.search.windows.net"

AZURE_CONTENT_UNDERSTANDING_ENDPOINT="https://<resource>.services.ai.azure.com"
AZURE_CONTENT_UNDERSTANDING_API_VERSION="2024-12-01-preview"